* {
  margin: 0;
  padding: 0;
}
:root {
  --body-background-color: #fff;
  --main-color: #4070f4;
  --main-color1: #008000;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  background-size: box-size;
}
.login_board {
  position: relative;
  max-width: 300px;
  width: 100%;
  background: var(--body-background-color);
  box-shadow: 0 8px 32px 0 rgba(179, 149, 166, 0.37);
  border: 10px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
  box-shadow: 0 8px 32px 0 rgba(230, 227, 228, 0.37);
  border-radius: 10px;
}
.login_board h2 {
  text-align: center;
  margin: 5px;
  font-family: sans-serif;
  color: var(--main-color);
  font-size: 35px;
  font-weight: 600;
}
.login_board form {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.login_board form .input-box {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 80%;
  width: 100%;
  outline: none;
  border: 1px solid rgb(77, 77, 182);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  margin-right: 30px;
  text-indent: 8px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 200;
  color: #333;
}
.login_board form .login-button {
  height: 50px;
  margin: 20px 0;
}
.login_board form .login-button input {
  width: 102%;
  height: 100%;
  padding: 0 25px;
  font-weight: 550;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--body-background-color);
  letter-spacing: 2px;
  border: none;
  background: var(--main-color);
  cursor: pointer;
}
.login_board form h6 {
  color: var(--main-color);
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  margin: 20px;
}
.login_board form h3 {
  color: var(--body-background-color);
  background: var(--main-color1);
  margin: 30px;
  font-family: Calibri;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 200px;
  text-align: center;
}
